<div class="about-mail">
    <div class="container">
        <h1>Tambah Buku</h1>
        <%= form_tag("/book/create") do %>
        <div class="wiw">
            <%= flash[:pesan] %>
        </div>
        <div class="form">
            <div class="form-body">
                <label>Titlr</label>
                <input name="judul" required>

                <label>Author</label>
                <input name="pengarang" required>

                <label>Isbn</label>
                <input name="isbn" required>

                <label>Description</label>
                <textarea name="deskripsi"></textarea>
                        
                <label for="kategori">Category:</label>
                <%= select_tag "kategori", options_from_collection_for_select(Category.all, "id", "name") %>             
                <br>
                <button type="submit">Save</button>
                <a href="/book/index">Back</a>
            </div>
        </div>
        
        <% end %>
    </div>
</div>