<div class="ih">
    <h1>Web Design & <br><span>Development</span> <br>Course</h1>
        <p class="par">Ini adalah websiteku<br> Yang baru dibuat
            <br>Apakah kalian tertarik ?</p>

                <button class="cn"><a href="/login">JOIN US</a></button>

                <div class="asep">
                    <h2>Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="/login">Login</a></button>

                    <p class="link">Don't have an account ?<br>
                    <a href="/daftar">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>
                </div>
</div>